* {
    z-index: 0;
}

body {
    overflow: overlay;
    background: $dark-blue;
    min-height: 100vh;
    display: flex;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.navbar-margin {
    margin-top: $navbar-height;
    display: flex;
    flex: 1;
    flex-direction: column;
}

a {
    outline: 0;
}

$bg-grad: linear-gradient(180deg, #05031A8C 0%, #05031AE3 100%);

.body-gradient {
    background: $bg-grad;
}

.body-img-gradient {
    background:  0% 0% no-repeat padding-box;
    background-repeat: no-repeat;
    background-size: 100% auto;

    background-image: $bg-grad, -webkit-image-set(
        url("../images/landing-bg/xl/bg-img.jpg") 1x,
        url("../images/landing-bg/xl/bg-img@2x.jpg") 2x
    );

    @include media-breakpoint-down(xl) {
        background-image: $bg-grad, -webkit-image-set(
            url("../images/landing-bg/lg/bg-img.jpg") 1x,
            url("../images/landing-bg/lg/bg-img@2x.jpg") 2x
        );
    }
    @include media-breakpoint-down(lg) {
        background-image: $bg-grad, -webkit-image-set(
            url("../images/landing-bg/md/bg-img.jpg") 1x,
            url("../images/landing-bg/md/bg-img@2x.jpg") 2x
        );
    }
    @include media-breakpoint-down(md) {
        background-image: $bg-grad, -webkit-image-set(
            url("../images/landing-bg/sm/bg-img.jpg") 1x,
            url("../images/landing-bg/sm/bg-img@2x.jpg") 2x
        );
    }
}

.subpage-padding {
    flex: 1;
}

.w600 {
    max-width: 600px;
}

.w730 {
    max-width: 730px;
}

.subpage-header {
    padding-top: 144px;
    padding-bottom: 34px;
    display: flex;
    flex-direction: row;

    @include media-breakpoint-down(md) {
        flex-direction: column;
    }

    @include media-breakpoint-down(md) {
        padding-top: 55px;
        padding-bottom: 20px;
    }

    .subpage-title {
        color: $light-gray-text;
        font-size: 34px;

        &.lighter {
            font-weight: 100;
            @include media-breakpoint-down(md) {
                font-size: 28px;
            }
        }
    }

    &.center {
        justify-content: center;
        text-align: center;
    }
}

.pills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: $light-gray-text;
    font-size: 15px;
    
    @include media-breakpoint-down(md) {
        margin-bottom: 13px;
    }

    .pill {
        padding: 13px 21px 13px;
        margin-right: 13px;
        border: 2px solid $darker-gray;
        border-radius: 26px;
        white-space: nowrap;
        transition: border 0.21s ease-in-out;
        cursor: pointer;

        &.small {
            padding: 9px 15px;
            font-size: 13px;
            font-weight: 100;
            margin-top: 0;
            margin-bottom: 10px;
            margin-right: 8px;
            border-width: 1px;
            
            &.solid {
                background-color: $dl-pill-bg;
                border: none;
            }
        }
    }
}