<div class="small-header">1. Download Software Package</div>
<div class="dl-instruction d-inline-block">
    <div class="pills">

        {{ range .platform.links }}
            <a class="pill small solid" href="{{ .url }}" target="_blank" rel="noopener noreferrer">
                {{ .os }} {{ .arch }}
            </a>
        {{ end }}

        <a class="pill small" href="{{ .notes_url }}" target="_blank" rel="noopener noreferrer">
            Release Notes
        </a>

    </div>
    <div class="subtext">
        {{ .platform.msg }}
    </div>
</div>
