<div class="small-header">2. Install</div>
<div class="dl-instruction">
    <ol>
        <li>
            If you are installing Bison Relay on an Intel MacOS device, ensure
            <a href="https://support.apple.com/en-gb/HT211861" target="_blank" rel="noopener noreferrer">Rosetta</a> is installed:
            <div class="codeblock">softwareupdate --install-rosetta</div>
        </li>
        <li>Double click to run the Bison Relay executable and you will see a security warning.</li>
        <li>Open MacOS Security & Privacy settings.</li>
        <li>Press the "Open Anyway" button for Bison Relay and confirm.</li>
    </ol>
</div>
