<div class="small-header">2. Install</div>
<div class="dl-instruction">
    <ol>
        <li>Download the correct binary for your device (amd64 for Intel CPUs, arm64 for Apple Silicon).</li>
        <li>
            Open a terminal and run the binary:
            <div class="codeblock">./{{ .filename }}</div>
        </li>
        <li>If a security warning appears, dismiss it and open MacOS Security & Privacy settings.</li>
        <li>Press the "Open Anyway" button for Bison Relay and confirm.</li>
    </ol>
</div>
