<div class="subpage-header center">
    <div class="subpage-title w730 lighter">{{ T "os_download_client" }}</div>
</div>

<div class="dl-instructions">
    
    <div class="small-header">1. Download Software Package</div>
    <div class="dl-instruction d-inline-block">
        <div class="pills">
            <div class="pill small solid">
                Linux AMD64
            </div>
            <div class="pill small solid">
                Linux ARM64
            </div>
            <div class="pill small">
                Release Notes
            </div>
        </div>
        <div class="subtext">
            CLI client for Linux
        </div>
    </div>
    
    <div class="small-header">2. Install</div>
    <div class="dl-instruction">
        Extract the downloaded archive:
        <div class="codeblock">tar -xvzf filename.tar.gz</div>
        Make the binary executable:
        <div class="codeblock">chmod +x brclient</div>
        Run Bison Relay:
        <div class="codeblock">./brclient</div>
    </div>
    
    <div class="small-header">3. Best Practices</div>
    <div class="dl-instruction">
        To further improve privacy using Bison Relay, see our guides on GitHub
        <div class="pills mt-2">
            <div class="pill small">
                Run Bison Relay as a Tor hidden service
            </div>
            <div class="pill small">
                How to setup Bison Relay in Qubes OS
            </div>
        </div>
    </div>

</div>