{{ define "page-title" }}
    {{ T "bison_relay" }} — {{ T "nav_features" }}
{{ end }}

{{ define "main" }}

<div class="subpage-padding body-img-gradient g-0">
    <div class="container">
        
        <div class="subpage-header">
            <div class="subpage-title">{{ T "page_title_features" }}</div>
        </div>

        <input class="d-none" type="radio" id="feature_1_toggle" name="feature_toggler" checked />
        <input class="d-none" type="radio" id="feature_2_toggle" name="feature_toggler" />
        <input class="d-none" type="radio" id="feature_3_toggle" name="feature_toggler" />

        <div class="pills">
            <label class="pill" for="feature_1_toggle">
                {{ T "feature_1_name" }}
            </label>
            <label class="pill" for="feature_2_toggle">
                {{ T "feature_2_name" }}
            </label>
            <label class="pill" for="feature_3_toggle">
                {{ T "feature_3_name" }}
            </label>
        </div>

        <div class="feature_descriptions">
            <div class="feature_description" id="feature_1">
                {{ T "feature_1_description" }}
            </div>
    
            <div class="feature_description" id="feature_2">
                {{ T "feature_2_description" }}
            </div>
    
            <div class="feature_description" id="feature_3">
                {{ T "feature_3_description" }}
            </div>
        </div>

    </div>
</div>

{{end}}
